{% extends "externalbase.html" %}
{% block content%}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto" >
            <div class="auto-form-wrapper">
              <form class="forms-sample" method="POST">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4 text-center">Register Account</legend>
                    <div class="form-group">
                        {% if form.email.errors %}
                            {{form.email(class="form-control is-invalid", placeholder="E-mail")}}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.email(class="form-control",  placeholder="E-mail")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.name.errors %}
                            {{form.name(class="form-control is-invalid", placeholder="Name")}}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.name(class="form-control",  placeholder="Name")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.password.errors %}
                            {{form.password(class="form-control is-invalid", placeholder="Password")}}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.password(class="form-control",  placeholder="Password")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.confirm_password.errors %}
                            {{form.confirm_password(class="form-control is-invalid", placeholder="Confirm Password")}}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.confirm_password(class="form-control",  placeholder="Confirm Password")}}
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                      <button class="btn btn-primary submit-btn btn-block">Register</button>
                    </div>
                    <div class="text-block text-center my-3">
                      <span class="text-small font-weight-semibold">Already have and account ?</span>
                      <a href="{{url_for('home_api.login')}}" class="text-black text-small">Login</a>
                    </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}